/* faviouate.css */
.fav-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /* Adjust minmax width as needed */
    gap: 20px;
    justify-items: center;
}

@media screen and (min-width: 1024px) {
    .fav-container {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
}

@media screen and (min-width: 1200px) {
    .fav-container {
        grid-template-columns: repeat(4, minmax(250px, 1fr));
    }
}

@media screen and (min-width: 1600px) {
    .fav-container {
        grid-template-columns: repeat(5, minmax(250px, 1fr));
    }
}